C:/Users/adiw/PyCharmMiscProject/sales_analysis_etl filter=lfs diff=lfs merge=lfs -text
C:/Users/adiw/PyCharmMiscProject/sales_analysis_etl/data/e_commerce.db filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
